{% extends 'index.html' %}

{% block title %}
{{ project.name }}
{% endblock %}

{% block filter %}
<ul class="nav flex-column mb-2">
    <li class="nav-item">
        <label class="form-label">Местоположение:</label>
        {% for loc in location %}
        <div class="">
            <span class="{{ loc.loc_class }}">{{ loc.location }}</span>
        </div>
        {% endfor %}
    </li>
    <li class="nav-item mt-4">
        <label class="form-label">Контрагенты:</label>
        <ul>
            {% for worker in project.agents.all %}
            <li>
                <a href="{{ worker.get_absolute_url }}">
                    <span class="" data-toggle="tooltip" data-placement="top" title="{{ tag.status }}">{{ worker.get_short_name }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </li>

</ul>


{% endblock %}

{% block contents %}
<div class="row g-5">
    <div class="col-md-8">
        <h2 class="pb-3 mb-3">
            {{ project.name }}
            <sup> <span class="{{ project.status_style }}">{{ project.status }}</span>
            </sup>
        </h2>
        <div class="card">

            <div class="card-body">
                <article class="blog-post  border-bottom">
                    <h3 class="blog-post-title">Описание</h3>
                    <p>{{ project.description }}</p>
                </article>
            </div>

            <div class="card-body">
                <article class="blog-post  ">
                    <h3 class="blog-post-title">Задачи</h3>
                    <p>{{ project.tasks }}</p>
                </article>
            </div>
            <!--      <hr>-->
            <div class="card-footer">
                <a class="btn  btn-outline-success btn-sm " href="{% url 'project_update' project.url %}"
                   role="button">Изменить</a>
            </div>
        </div>

        <article class="blog-post">

            <div class="row justify-content-end">
                <div class="col-8">
                    <h3 class="blog-post-title mt-4 mb-3">История проекта:</h3>
                </div>
                <div class="col-4">
                    <a class="btn  btn-outline-danger btn-sm mt-4 mb-3" href="{% url 'project_add' project.url %}"
                       role="button">Добавить</a>
                </div>

            </div>


            {% for post in history %}
            <a href="{{ post.user_add.get_absolute_url }}"><span class="{{ post.user_add.user_location.loc_class }}"
                                                                 title="{{ post.user_add.user_location.location }}">{{ post.user_add.get_short_name }} </span></a>
            ({{ post.pub_date }})
            <p>{{ post.description }}</p>
            {% endfor %}

        </article>

        <nav class="blog-pagination" aria-label="Pagination">
            {% if is_paginated %}
            <nav aria-label="...">
                <ul class="pagination">

                    <li class="page-item {% if prev_url == '' %}disabled{% endif %}">
                        <a class="page-link" href="{{ prev_url }}"><<</a>
                    </li>

                    {% for n in history.paginator.page_range %}

                    {% if history.number == n %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ n }}">{{n}} <span class="sr-only"></span></a>
                    </li>
                    {% elif n > history.number|add:-3 and n < history.number|add:3 %}
                    <li class="page-item" aria-current="page">
                        <a class="page-link" href="?page={{ n }}">{{n}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    <li class="page-item {% if next_url == '' %} disabled {% endif %}">
                        <a class="page-link" href="{{ next_url }}">>></a>
                    </li>
                </ul>
            </nav>
            {% endif %}
        </nav>
    </div>

    <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="fst">Сотрудники на объекте:</h4>
                <ol class="list-unstyled mb-0">
                    {% if current_staff %}
                    {% for worker in current_staff %}
                    <li>
                        <a href="{{ worker.get_absolute_url }}">
                            <span class="{{ worker.user_location.loc_class }}" data-toggle="tooltip"
                                  data-placement="top" title="{{ worker.user_location.location }}">{{ worker.get_short_name }}</span>
                        </a>
                    </li>
                    {% endfor %}
                    {% else %}
                    <li>
                        <dt>отсутствуют</dt>
                    </li>
                    {% endif %}
                </ol>
            </div>

            <div class="">
                <h4 class="mt-4">История посещений:</h4>
                <ol class="list-unstyled mb-0">
                    {% if staff %}
                    {% for worker in staff %}
                    <li>
                        <a href="{{ worker.user_name.get_absolute_url }}">
                            <span class="{{ worker.user_name.user_location.loc_class }}" data-toggle="tooltip"
                                  data-placement="top" title="{{ worker.user_name.user_location.location }}">{{ worker.user_name.get_short_name }}</span>
                        </a> ({{ worker.date_format }})
                    </li>
                    {% endfor %}
                    {% else %}
                    <dt>отсутствует</dt>
                    {% endif %}
                    <nav class="blog-pagination" aria-label="Pagination">
                        {% if s_is_paginated %}
                        <nav aria-label="...">
                            <ul class="pagination">

                                <li class="page-item {% if s_prev_url == '' %}disabled{% endif %}">
                                    <a class="page-link" href="{{ s_prev_url }}"><<</a>
                                </li>

                                {% for n in staff.paginator.page_range %}

                                {% if staff.number == n %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="?page={{ n }}">{{n}} <span class="sr-only"></span></a>
                                </li>
                                {% elif n > staff.number|add:-3 and n < staff.number|add:3 %}
                                <li class="page-item" aria-current="page">
                                    <a class="page-link" href="?page={{ n }}">{{n}}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                                <li class="page-item {% if s_next_url == '' %} disabled {% endif %}">
                                    <a class="page-link" href="{{ s_next_url }}">>></a>
                                </li>
                            </ul>
                        </nav>
                        {% endif %}


                </ol>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}