{% extends 'index.html' %}

{% block title %}
Общая статистика за месяц
{% endblock %}

{% block style %}
<style>
th:first-child, td:first-child{
    position: sticky;
    left: 0px;
    z-index: 1;
}

</style>
{% endblock %}


{% block filter %}


<label class="form-label">Локации:</label>
{% for loc in location %}
<div class="">
    <span class="{{ loc.loc_class }}">{{ loc.location }}</span>
</div>
{% endfor %}
{% endblock %}


{% block contents %}
<nav aria-label="...">
  <ul class="pagination pagination">
    <li class="page-item {% if prev_url == '' %}disabled{% endif %}">
      <a class="page-link" href="{{ prev_url }}" tabindex="-1">-28 дней</a>
    </li>
      <li class="page-item"><a class="page-link" href="?page=1">Сегодня</a></li>
    <li class="page-item {% if next_url == '' %}disabled{% endif %}">
      <a class="page-link" href="{{ next_url }}">+28 дней</a>
    </li>
  </ul>
</nav>

<h2>Статистика</h2>
<div class="table-responsive">
    <table class="table table-bordered table-sm table-fixed">
        <thead>
        <tr>
            <th><p class="fs-6"></p></th>
            {% for num in date_time %}
            <th><p class="{% if num.weekday == 'Сб' or num.weekday == 'Вс' %} bg-success text-white {% else %} bg-secondary text-white {% endif %} fs-6">{{ num.day }}
                {{ num.weekday }}</p></th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>


        {% for profile in profile_list %}
        <tr>
            <td><a {% if profile.url %} href="{{ profile.get_absolute_url }}" {% endif %}>
                {{ profile.user.last_name }} {{ profile.user.first_name|slice:":255" }} </a></td>
            {% for data in user_statistics|get_item:profile.user.username %}
                <td class="table-{{ data.color }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ data.info }}"></td>
            {% endfor %}
        </tr>
         {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}