{% extends 'index.html' %}

{% block title %}
Сотрудники
{% endblock %}

{% block filter %}
<label class="form-label">Местоположение:</label>
{% for loc in location %}
<div class="">
    <span class="{{ loc.loc_class }}">{{ loc.location }}</span>
</div>
{% endfor %}
{% endblock %}
{% block filter1 %}
        <div class="p-2 bg-light border">
            <label class="form-label">Фильтры:</label>
            <form action="{% url 'filter' %}" method="get">
                {% for loc in location %}
                <div class="form-check">
                    <input class="form-check-input" name="check_location" type="checkbox" value="{{ loc.id }}" {% if loc.id in filter_id %} checked {% endif %}>
                    <span class="{{ loc.loc_class }}">{{ loc.location }}</span>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-success my-3 btn-sm">Найти</button>
            </form>
        </div>
    </div>{% endblock %}


    {% block contents %}
    <h2>Список сотрудников</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>Сотрудник</th>
                <th>Табельный номер</th>
                <th>Должность</th>
                <th>Статус</th>
                <th>Объект</th>
            </tr>
            </thead>
            <tbody>
            {% for user, location in profile_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a {% if user.url %} href="{{ user.get_absolute_url }}" {% endif %}>{{user.get_full_name }}</a></td>
                <td>{{ user.tabel_num }}</td>
                <td>{{ user.position }}</td>
                <td><span class="{{ location.user_location.loc_class }}">{{ location.user_location.location }}</span></td>
                <td><a href="{{ location.project.get_absolute_url }}"><span class="{{ location.project.status_style }}" title="{{ location.project.status }}">{{ location.project.name }}</span></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% endblock %}